//locStore CSS dosyası

*{font-size: 14px;}

.btnSil{
      background-color: transparent;
      border: none;
      color: #9d4edd;
}
.eBtn{
      background-color: transparent;
      border: none;
      font-size: 17px;
      color: #7b2cbf;
}
.box{
      height:auto;
      max-height: 350px;
      width: 220px;
      padding: 20px;
      border: 1px solid #dee2ff;
      border-radius: 10px;
      box-shadow: 10px 10px 20px #dee2ff;
      background-color: #f8f9fa;
      margin: 10px 15px;
      float: left;
      font-family: Candara Light, century gothic, cursive;
}


#ekleBtn,#eBtn{
      border: 1px solid grey;
      border-radius: 20px;
      padding: 8px;
      background-color: transparent;
      color: black;
      font-weight: bolder;
      width: 100%;
}

#ekleBtn:hover{
      background-color: #feeafa;
      border: 1px solid #feeafa;
      box-shadow: 2px 2px 10px grey;
}

#eBtn:hover{
      background-color: #dfe7fd;
      border: 1px solid #dfe7fd;
      box-shadow: 2px 2px 10px grey;
}

.box_2{
      border-bottom: 2px solid grey;
      height:auto;
      padding: 4px 8px;
}

#colon_1{
 background-image: linear-gradient(to bottom, #ff8fab, #ffe5ec,  #ffb3c6,#ffc2d1, #ffe5ec);
font-family: Candara Light, century gothic, cursive;
 position: fixed; 
 height: 100%;
}

.boyut{
      font-size: 20px;
      padding: 20px 10px;
}
